<%- include('../partials/header') %>

<div class="container center">
    <div class="container row text-center">
        <% pokemon.forEach(function(p) {%>
            <div class="card mt-3 me-3 countryCard">
                
                <div class="card-body">
                    <h5 class="card-title"><%= p.name %></h5>
                    <a href="/pokemon/<%= p.name %>" class="btn">More Info</a>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>