<%- include('../partials/header') %>
<header>Pokemon Stuff</header>

<div class="container center">
  <a href="/pokemon/all" class="btn btn-warning">Back to PokeDex</a>
  <h2 class="text-center name-title"><%= pokemon.name %></h2>
  <div class="container col text-center">
      <img src="<%= pokemon.sprites.other.showdown.front_default %>" alt="pokeemon" class="show-image">
  </div>





























<%- include('../partials/footer') %>