
body {
  background-color: darkgrey;

}



.reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.shiny {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shiny-text {
  color: gold;
  transform-style: preserve-3d;

}
