
body {
  background-color: darkgrey;
  background-image: url('/images/background.png');

}

.card-body {
  width: auto;
  height: 15%;
  
}

.pokemon-image {
 width: 50%;
}

#teams {
  background-color: #f2f2f2;
  color: #333;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
}

#teams option {
  background-color: #fff;
  color: #333;
}


.reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.shiny {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shiny-text {
  color: gold;
  transform-style: preserve-3d;

}

.background {
height: 100vh ;
width: 100vw;
}