
body {
  background-color: darkgrey;

}

.reg {

  
}

.shiny-text {
 color: gold;
 float: right;
 margin-right: 10%;
 margin-top: 10%;
}

.gif {
  height: 10%;
  width: 10%;
  margin-left: 10px;
  
}

.shiny {
  height: 10%;
  width: 10%;
  margin-left: 75%;
  margin-bottom: 20%;
}

